@import "../../styles/common";
@import "../../styles/variables";
@import "../../styles/mixin";

.headerOption__component {
	height: 70%;
	margin-right: 20px;
	@include display_flex(column, space-between, center);
	color: gray;
	cursor: pointer;

	&:hover {
		color: black;
	}

	.headerOption__icon {
		object-fit: contain;
		width: 27px !important;
		height: 27px !important;
	}

	.headerOption__title {
		margin: 0;
		padding: 0;
		font-size: 12px;
		font-weight: 400;
		font-family: Helvetica, Arial, sans-serif;
	}

	.headerOption__avatar {
		width: 27px;
		height: 27px;
	}
}
